/* Title.css */
/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

body {
  margin: 0;
}

#container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 80pt;
  text-align: center;
  user-select: none;
}

.blur-animation {
  animation: blurAnimation 2s linear infinite;
}

@keyframes blurAnimation {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  40% {
    filter: blur(0);
    opacity: 1;
  }
  60% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    opacity: 0;
  }
}
