@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Bungee+Shade&display=swap");
.layout{
  display : flex;
}
body {
  background-color: #D6E1FF;
  font-family: "Bungee", cursive;
}
